body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    width: 40vh;
    height: 70vh;
    background: rgb(136, 136, 136);
    display: flex;
    padding: 10px;
    gap: 8px;
    row-gap: 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 18px;
}


input, button{
    border-radius: 8px;
    border-color: rgb(22, 22, 22);
    width: 65px;
    height: 45px;
    color: black;
    font-weight: bolder;
    font-size: large;
}



#display{
    width: 16rem;
}

#equal{
    background-color: goldenrod;
}

input[type='button']:hover{
    background-color: lightgreen;
    border-style:initial;
}

#equal:hover{
    border-style: dotted;
}




